type project
owners
    Demetrix
authors
    Amyris, Demetrix
projectUrl
    http://github.com/demetrixbio/GslCore
iconUrl
    https://raw.githubusercontent.com/Amyris/Amyris.Bio/master/docs/files/img/amyris_logo.png
licenseUrl
    http://github.com/AmyrisInc/GslCore/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2016
tags
    GSL compiler amyris yeast F# demetrix
summary
    Core library for GSL compiler (Demetrix production version)
description
    Core library and plugin defintions for the Amyris Genotype Specification Language (GSL) compiler. (demetrix version)
